@if (loading()) {
  <p>Učitavanje...</p>
} @else if (error()) {
  <p style="color: red">{{ error() }}</p>
  <a routerLink="/contacts">← Natrag na popis</a>
} @else if (contact(); as c) {
  <a routerLink="/contacts">← Natrag na popis</a>
  +<a [routerLink]="['/contacts', c.id, 'edit']">Uredi</a>
<button (click)="onDelete()" [disabled]="deleting()">
    {{ deleting() ? 'Brisanje...' : 'Obriši' }}
  </button>
  <h2>{{ c.firstName }} {{ c.lastName }}</h2>

  @if (c.note) {
    <p><em>{{ c.note }}</em></p>
  }

  <h3>Adresa</h3>
  <p>
    {{ c.address.street }}<br>
    {{ c.address.postalCode }} {{ c.address.city }}<br>
    {{ c.address.country }}
  </p>

  <h3>Telefonski brojevi</h3>
  @if (c.phoneNumbers.length === 0) {
    <p>Nema unesenih brojeva.</p>
  } @else {
    <ul>
      @for (phone of c.phoneNumbers; track phone.id) {
        <li>{{ phone.type }}: {{ phone.value }}</li>
      }
    </ul>
  }

  <h3>E-mail adrese</h3>
  @if (c.emails.length === 0) {
    <p>Nema unesenih e-mail adresa.</p>
  } @else {
    <ul>
      @for (email of c.emails; track email.id) {
        <li>{{ email.type }}: {{ email.value }}</li>
      }
    </ul>
  }

  <h3>Tagovi</h3>
  @if (c.tags.length === 0) {
    <p>Nema tagova.</p>
  } @else {
    <ul>
      @for (tag of c.tags; track tag.id) {
        <li>{{ tag.name }}</li>
      }
    </ul>
  }
}